---
layout: default
---
<section class="about-me">
<h2>About Me:</h2>
<p>Hi! My name is Negar and I live in London. I have a PhD in Biochemistry and I have worked as a researcher in academia for about eight years. Now I am up-skilling by learning data analytics and would like to apply this new skill along with my biochemistry expertise to industry projects in biotechnology companies. In addition, I am learning German so I can communicate with my partner's family and deciding to learn Ikebana flower arrangement when I finally complete my transition into an industry position. </p>
</section>

{% include projects.html %}
